<section id="our_work" class="container flex section__padding">
    <div class="section__block1">
        <article class="title"> 
            <h3 class="title__particle">recent works</h3>
            <h1 class="title__text">Some of <i>our crafts</i> made with love</h1>
        </article>
        <!-- <div class="paragraf">
            <span></span>
            <h3>RECENT WORKS</h3>
        </div> -->
        <img src="./img/interer1.png" class="interer__img"/>
        <div class="interer__content">
            <h2 class="interer__title">Villa Furnishing & Interior</h2>
            <p class="interer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus fringilla dui amet faucibus nam. Erat id laoreet posuere etiam morbi.</p>
        </div>
        <a href="#contact">
            <button type="button" class="contact__btn_text status_visib1">
                <span>Contact us</span>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.1663 5.83337L5.83301 14.1667" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.66699 5.83337H14.167V13.3334" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                    
            </button>
        </a>
    </div>
    <div class="section__block2">
        <img src="./img/interer2.png" class="interer__img"/>
        <div class="interer__content">
            <h2 class="interer__title">Luxury Hotel Renovation</h2>
            <p class="interer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus fringilla dui amet faucibus nam.</p>
        </div>
        <img src="./img/interer3.png" class="interer__img"/>
        <div class="interer__content">
            <h2 class="interer__title">Residence Swimming Pool</h2>
            <p class="interer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus fringilla dui amet faucibus nam.</p>
        </div>
        <a href="#contact">
            <button type="button" class="contact__btn_text status_visib2">
                <span>Contact us</span>
                <svg width="20" height="20" class="contact__btn_svg" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.1663 5.83337L5.83301 14.1667" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.66699 5.83337H14.167V13.3334" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                    
            </button>
        </a>
    </div>
</section>