<section id="services" class="container section__padding">
    <article class="title"> 
        <h3 class="title__particle">our services</h3>
        <h1 class="title__text">We provide the <i>best solutions</i> for your dream home</h1>
    </article>
    <div class="services">
        <ul class="services__list">
            <li class="services__item">
                <article class="services__content">
                    <svg width="36" height="36" class="services__svg" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M36 0H15V6H3V18H0V36H3V21H15V36H18V3H33V36H36V0ZM6 9H15V18H6V9ZM6 24V27H12V24H6ZM9 12H12V15H9V12ZM24 12H21V15H24V12ZM21 24H24V27H21V24ZM24 30H21V33H24V30ZM21 6H24V9H21V6ZM24 18H21V21H24V18ZM27 6H30V9H27V6ZM30 18H27V21H30V18ZM27 12H30V15H27V12ZM30 24H27V27H30V24ZM27 30H30V33H27V30ZM12 33V30H6V33H12Z" fill="#996830"/>
                    </svg>                                
                    <h4 class="services__title">Architectural & Interior design</h4>
                    <p class="services__text">Non diam pretium tristique augue placerat dolor. Accumsan nibh nunc, molestie volutpat ipsum, ultricies.</p>
                </article>
            </li>
            <li class="services__item">
                <article class="services__content">
                    <svg width="36" height="36" class="services__svg" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H12.3825L23.7183 6.18316L22.2817 8.81684L11.6175 3H3V33H15V21H9V18H21V21H18V33H33V21H27V18H33V3H24V0H36V36H0V0Z" fill="#996830"/>
                    </svg>                                
                    <h4 class="services__title">Building <br>Renovation</h4>
                    <p class="services__text">Non diam pretium tristique augue placerat dolor. Accumsan nibh nunc, molestie volutpat ipsum, ultricies.</p>
                </article>
            </li>
            <li class="services__item">
                <article class="services__content">
                    <svg width="40" height="40" class="services__svg" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M29.9138 35.0338L39.84 0L5.40332 10.2143L14.0574 19.4865L16.2505 17.4395L10.9046 11.7117L35.4679 4.426L28.3941 29.3922L22.6965 23.8845L20.6114 26.0415L29.9138 35.0338ZM11.1856 22.8733L13.1539 24.8417L22.5933 15.4023L24.7146 17.5237L15.2753 26.963L17.2436 28.9314L7.18658 39.617L0.5 32.9304L11.1856 22.8733ZM11.1223 27.0527L4.8079 32.9956L7.12132 35.3091L13.0643 28.9947L11.1223 27.0527Z" fill="#996830"/>
                    </svg>
                    <h4 class="services__title">Construciton Management</h4>
                    <p class="services__text">Non diam pretium tristique augue placerat dolor. Accumsan nibh nunc, molestie volutpat ipsum, ultricies.</p>
                </article>
            </li>
        </ul>
    </div>
</section>