$primary-color-50: #E6D8CC;
$primary-color-300: #C4A386;
$primary-color-600: #996830;

$neutral-color-100: #E5E5E5;
$neutral-color-300: #D9D9D6;
$neutral-color-500: #7C7C7C;
$neutral-color-700: #444444;
$neutral-color-900: #2C2C2C;

