.about__text_blk > p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $neutral-color-700;
    margin-top: 24px;
}
.about__img_blk {
    margin: 0 auto;
    margin-top: 80px;
    position: relative;

    width: 335px;
    height: 317px;
}
.about__img_main {
    width: 158.45px;
    height: 271.71px;
}
.aboust__svg{
    position: absolute;
    top: calc(0px - 60px);
    left: calc(50% - 33px);
    z-index: 10;
}
.about__img_1{
    position: absolute;
    left: 0;
    top: 0;
}
.about__img_2{
    position: absolute;
    right: 0;
    bottom: 0;
}
//--------------------------------------------
.metrics{
    margin: 0 auto;
    height: 0 auto;
    max-width: 375px;

    &__list{
    }

    &__item{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    &__number{
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        color: $neutral-color-900;
    }
    &__text{
        margin: 5px 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $neutral-color-900;
    }
}

@media screen and (min-width: 768px) {
    .about__text_blk > p {
        font-size: 18px;
        line-height: 32px;
    }
    .about__img_blk {
        width: 688px;
        height: 654px;
    }
    .about__img_main {
        width: 325.41px;
        height: 558px;
    }
    .aboust__svg{
        left: calc(50% - 60px);
    }

    .metrics{
        margin-top: 60px;
        max-width: 100%;
    
        &__list{
            display: flex;
            justify-content: space-between;
        }
        &__item{
            flex-direction: column;
            align-items: flex-start;
            width: 208px;
        }
        &__number{
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            line-height: 72px;
            letter-spacing: -2.5%;
        }
        &__text{
            font-style: normal;
            font-weight: 400;
            margin: 0px;
            font-size: 14px;
            line-height: 20px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .flex-position-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about__text_blk{
        width: 592px;
        height: 0 auto;
    }
    .about__img_blk{
        width: 592px;
        height: 0 auto;
    }
    .flex{
        display: flex;
    }
    .about__img_main {
        width: 280px;
        height: 480px;
        margin: 0 8px;
    }
    .aboust__svg{
        left: calc(50% - 50px);
    }

    .metrics__item{
        flex-direction: row;
        align-items:center;
        width: 384px;
    }
    .metrics__text{
        padding-left: 16px;
    }

}