header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{

    &__list{
        font-family: Outfit;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }

    &__item{
        display: none;
    }

    &__Bth{}

    &__link{
        color: $neutral-color-900;
    }

    &__linlk_bth{
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 138px;
        height: 44px;
        background-color: $primary-color-600;
        color: white;
        text-transform: uppercase;
        padding: 0 20px;

        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
    }
}

@media screen and (min-width: 768px){
    .menu{
        &__list{
            display: flex;
            width: 434px;
            justify-content: space-between;
            align-items: center;
        }
        &__item{
            display:inline;
        }
    }
}

@media screen and (min-width: 1440px){

}