.content{
    text-align: center;
    margin: 68px 0 80px 0;
}

.content > h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
}
.content > span{
    font-family: PlayfairDisplay;
    font-style: italic;
}
.content > p {
    font-family: 'Outfit';
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
}

.cover{
    width: 100%;
    height: 640px;
    background: url("../img/background_page_home.jpg");
    background-position: center;
    background-size: cover;
}
.container{
    // width: 100%;
    // height: 640px;
}
.cover > div {
    position: relative;
}
.cover__bth{
    position: absolute;
    top: -60px;
    left: calc(50% - 60px);
    background-color: #11ffee00;
    z-index: 20;
}

.cover__img{
    width: 120px;
    height: 120px;
}

//-----------------------------------------
.wrapper{
    width: 100%;
}
.bg {
    background-color: $neutral-color-900;
}
.awards{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    margin: 0 auto;
    width: 335px;


    &__title{
        font-style: italic;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        transform: rotate(180deg);
        color: white;
        writing-mode: vertical-rl;
        opacity: 0.5;
    }
    &__span{
        display: block;
        width: 24px;
        height: 1px;
        background-color: white;
        margin-top: 35px;
        opacity: 0.5;
    }
    &__item{
        display: flex;
        width: 251px;
        height: 80px;
    }
    &__img{
        width: 80px;
        height: 80px;
    }
    &__wrap_text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text{
        color: $neutral-color-300;
        padding: 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
}
@media screen and (min-width: 768px){
    .awards{

        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;

        &__span{
            margin-top: 0px;
            width: 64px;
        }
        &__list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 552px;
        }
    }
}

@media screen and (min-width: 1440px){
    .cover__bth{
        left: 120px;
    }
    .awards{
        .awards__list{
            width: 1060px;
        }
        .awards__item{
        }
    }
}